@use 'hero';
@use 'variables';
@use 'scenes';
@use 'platforms';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}

body {
    background-color: variables.$corDeFundo;
}

.main-text {
    color: variables.$corTitulo1;
            text-shadow:
                0 0 5px #fff,
                0 0 10px variables.$corTitulo2,
                0 0 20px variables.$corTitulo2,
                0 0 30px variables.$corTitulo2,
                0 0 40px variables.$corTitulo2,
                0 0 55px variables.$corTitulo2,
                0 0 75px variables.$corTitulo2;
}